*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}
body{
    display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #341f97
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    align-self: center;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 30px;
}
.head{
    text-align: center;
}
.head h1{
    margin: 100px 0;
    font-size: 35px;
}
.ques{
    display: grid;
    grid-template-rows: 60px auto;
    width: 800px;
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 25px;
}
.ques p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.ques .btn-group{
    margin-bottom: 5px;
}

.form-check{
    display: block;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: 0.4s all;
  align-self: center;
}

.active {
    background-color: #341f97;
    color: #fff;
}
.active:hover{
    color: #007bff;
}
.form-check:hover {
  cursor: pointer;
  border: 2px solid #341f97;
}
.form-check label:hover,.form-check input:hover{
    cursor: pointer;
}

img{
    width: 150px;
}
.content{
    color: #fff;
}

.content{
    text-align: center;
}
.content h3{
    margin: 10px 0;
}